*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

li{
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    background: coral;
    margin: 20px;
}