*{
    margin: 0;
    padding: 0;
}

h1, h4{
    text-align: center;
}

.block{
    width: 400px;
    height: 25px;
    background: lightgray;
    margin: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.block:nth-child(n){
    color: #62cd1a;
}

p{
    color: darkred;
}
