*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #e3d7d7;
}

::selection{
    background-color: grey;
}

#main{
    width: 100vw;
    height: 100vh;
    background-image: url(img/fon_1p.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    height: 5%;
    font-size: 38px;
    margin-top: 10px;
    letter-spacing: 5px;
    font-weight: 900;
}

#grid{
    width: 95%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 40px;
    align-items: center;
    padding: 15px;
}

#userDiv{
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(138, 129, 129, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    transition: 0.4s;
}

#userName{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    /*letter-spacing: 2px;*/
}

#userName h5{
    font-size: 20px;
    letter-spacing: 3px;
}

#userName h3{
    font-size: 25px;
    letter-spacing: 3px;
}

.button{
    display: none;
    width: 30%;
    height: 35px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #f4f2f2;
    border-radius: 5px;
    transition: 0.8s;
    margin-bottom: 10px;
}

#userDiv:hover{
    transform: scale(1.03);
    transition: 0.8s;
    box-shadow: 5px 5px 5px 5px rgba(138, 129, 129, 0.5);
    .button{
        background: none;
        color: grey;
        display: block;
    }
}

/*--------------------------------------user-details---2page--------------------------------------*/
#main_2p{
    width: 100vw;
    height: 100vh;
    background-image: url(img/fon_1p.jpg);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#header_2p{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btnBack_2p{
    width: 100px;
    height: 38px;
    background: none;
    border: 3px solid darkgrey;
    border-radius: 10px;
    margin-right: 25%;
}

#btnBack_2p a{
    color: darkgrey;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
}

#btnBack_2p:hover{
    border: 2px solid #f4f2f2;
    a {
        color: #ece5e5;
    }
}

#h1_2p{
    margin: 0;
    height: 38px;
    font-weight: 900;
}

#userDetails{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#userDetails p{
    font-style: italic;
    letter-spacing: 2px;
    font-size: 16px;
}

#userDetails p:nth-child(n+6):nth-child(-n+10){
    margin-left: 60px;
}

#userDetails p:nth-child(11){
    margin-left: 90px;
}

#userDetails p:nth-child(12){
    margin-left: 90px;
}

#userDetails p:nth-last-child(1){
    margin-left: 60px;
}

#userDetails p:nth-last-child(2){
    margin-left: 60px;
}

#userDetails p:nth-last-child(3){
    margin-left: 60px;
}

b{
    font-style: normal;
    color: #f4f2f2;
}

#btnPostList{
    width: 90%;
    height: 40px;
    background: none;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid #777272;
    color: #777272;
    border-radius: 10px;
    transition: 0.3s;
}

#btnPostList:hover{
    border: 2px solid #f4f2f2;
    color: #f4f2f2;
}

#divPosts{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 15px;
}

#divPost{
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(138, 129, 129, 0.5);
    transition: 0.3s;
}

#divPost p{
    margin: 5px;
    letter-spacing: 1px;
}

#divPost b{
    letter-spacing: 1px;
}

#divPost:hover{
    transform: scale(1.08);
    transition: 0.3s;
    box-shadow: 5px 5px 5px rgba(138, 129, 129, 0.5);
    cursor: pointer;
}

/*--------------------------------------post-details---3page--------------------------------------*/
#main_3p{
    width: 100vw;
    height: 100vh;
    background-image: url(img/fon_1p.jpg);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#header_3p {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btnBack_3p{
    width: 100px;
    height: 38px;
    background: none;
    border: 3px solid darkgrey;
    border-radius: 10px;
    margin-right: 25%;
}

#btnBack_3p a{
    color: darkgrey;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
}

#btnBack_3p:hover{
    border: 2px solid #f4f2f2;
    a {
        color: #f4f2f2;
    }
}

#h1_3p{
    margin: 0;
    height: 38px;
    font-weight: 900;
}

#postDetail{
    width: 90%;
    height: 25%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    padding: 5px;
    border-bottom: 2px solid grey;
    gap: 10px;
}

#divComments{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 20px;
}

#divComment{
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 10px;
    gap: 3px;
    box-shadow: 5px 5px 5px rgba(138, 129, 129, 0.5);
    letter-spacing: 1px;
    padding: 5px;
}

#divComment b{
    letter-spacing: 2px;
    font-style: italic;
}

#divCommentAbsolut{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    position: absolute;
    top: 8%;
    margin: 0 auto;
    background: #292525;
    gap: 15px;
    width: 90%;
    height: 30%;
    padding: 10px;
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow: -1px 5px 21px 20px rgba(138, 129, 129, 0.7);
}






