.wrap{
    background: cornflowerblue;
    color: orangered;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

li:nth-child(odd){
    background: #e1b5a4;
    color: darkred;
    font-weight: 600;
}

.div_93{
    background: #748ab1;

    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

}

.div_93 div{
    background: lightgray;
    width: 300px;
    text-align: center;

}



