*{
    padding: 0;
}
form{
    display: flex;
    flex-direction: column;
}
#startKg{
    width: 200px;
    height: 30px;
    text-align: center;
}

div{
    width: 200px;
    height: 35px;
    margin-top: 10px;
    background: lightgreen;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

