h1{
    margin-left: 180px;
}

#form{
    width: 500px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: 20px;
}

input{
    width: 400px;
    height: 25px;
    text-align: center;

}

#btnReset{
    background: lightcoral;
    border: none;
    border-radius: 5px;
}

#btnAddForm{
    background: lightgreen;
    border: none;
    border-radius: 5px;
}

#userDiv{
    width: 500px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #f6e590;
}

h2{
    color: green;
}






