*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    background: lightcoral;
}

.divCourse{
    height: 350px;
    background: #b9ccef;
    margin-top: 5px;
    padding-top: 5px;
}

.title{
    width: 95vw;
    text-align: center;
    margin: 5px auto 5px auto;
}

.monfAndHour{
    width: 95vw;
    height: 35px;
    text-align: center;
    margin: 5px auto 5px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.monthDuration{
    width: 30%;
    background: coral;
}

.hourDuration{
    width: 65%;
    background: lightgray;
}

.modules{
    width: 95vw;
    height: 250px;
    margin: 5px auto 5px auto;
}

.modules h4{
    text-align: center;
    height: 20px;
    background: #c2efc2;
}

.ul{
    width: 95vw;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.li{
    margin-left: 45%;
}