*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrap{
    /*width: 90vw;*/
    /*height: 100vh;*/
    margin: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;

    /*border: 1px solid red;*/
}


.users-box{
    /*width: 50%;*/
    height: 200px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*flex-direction: column;*/

    /*border: 1px solid blue;*/

}

.user-block{
    width: 100%;
    height: 100%;
    background: lightgray;
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
    flex-direction: column;
    border-radius: 5px;
    padding-left: 10px;
    /*border: 1px solid black;*/

}